@import 'tailwindcss';

/* light(default) 테마 색상 */
:root {
  /* ===== Primary - Royal blue ===== */
  --color-primary: #305cde;

  --color-primary-focus: #1e45ba;
  --color-primary-light: #5f81e5;

  /* ===== Secondary - Neutral ===== */
  --color-secondary: #64748b;

  --color-secondary-light: #94a3b8;

  /* ===== Text  ===== */
  --color-main: #1e293b;
  --color-sub: #475569;
  --color-muted: #94a3b8;

  /* ===== Border, Shadow, Background  ===== */
  --color-border: #e2e8f0;
  --color-border-strong: #cbd5e1;

  --color-shadow: rgba(15, 23, 42, 0.08);
  --color-shadow-strong: rgba(15, 23, 42, 0.16);

  --color-bg: #f8fafc;
  --color-bg-card: #ffffff;

  /* ===== Status ===== */
  --color-success: #16a34a;
  --color-info: #0ea5e9;
  --color-warning: #d97706;
  --color-error: #dc2626;
}

/* dark 테마 색상 */
[data-theme='dark'] {
  /* ===== Primary ===== */
  --color-primary: #5f81e5;

  --color-primary-focus: #7f9aec;
  --color-primary-light: #a3bcf2;

  /* ===== Secondary ===== */
  --color-secondary: #94a3b8;

  --color-secondary-light: #cbd5e1;

  /* ===== Text  ===== */
  --color-main: #f1f5f9;
  --color-sub: #cbd5e1;
  --color-muted: #64748b;

  /* ===== Border, Shadow, Background  ===== */
  --color-border: #334155;
  --color-border-strong: #475569;

  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-shadow-strong: rgba(0, 0, 0, 0.5);

  --color-bg: #0f172a;
  --color-bg-card: #1e293b;

  /* ===== Status ===== */
  --color-success: #22c55e;
  --color-info: #38bdf8;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}
